list.rich-list {
    border-radius: 20px;
}

#delete-board-infobar {
    background-color: cadetblue;
    border-radius: 4px;
}

#cardlist-title {
    font-weight: bold;
    font-size: large;
}

#image-label {
    font-weight: bold;
    font-size: medium;
}