[Desktop Entry]
Type=Application
Name=Progress
StartupWMClass=io.github.progresstracker.Progress
Comment="Kanban style todo app"
Comment[pt_BR]="Aplicação de TODO no estilo kanban"
Exec=progress-tracker
Icon=io.github.progresstracker.Progress