.confirm-action {
    background-color: #26a269;
}

.add-cardlist-button {
    background-color: #3d3846;
}

.incomplete-task {
    transition-property: background-color;
    transition-duration: 1s;
    background-color: #5e5c64;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 0 2px #9a9996;
}

.complete-task {
    transition-property: background-color;
    transition-duration: 1s;
    background-color: #3d3846;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 0 2px #9a9996;
}

.cardlist {
    background-color: @theme_bg_color;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 0 4px #000000;
}

card {
    background-color: #5e5c64;
    border-radius: 5px;
    box-shadow: 0 0 2px #000000;
    transition-property: background-color, border, box-shadow, outline;
    transition-duration: 1s;
}

card:focus,
.card-to-drop {
    box-shadow: 0 0 6px #3772af;
    background-color: #6e6c74;
    border: 2px solid #3772af;
    transition-property: background-color, border, box-shadow, outline;
    transition-duration: 1s;
}

.delete-board-infobar-text {
    color: #ffffff;
    font-weight: bold;
}

.delete-board-infobar {
    background-color: #1a5fb4;
    border-radius: 5px;
}

.cardlist-title {
    font-weight: bold;
    font-size: large;
}

.image-label {
    font-weight: bold;
    font-size: medium;
}

.complete-tasks-indicator-complete {
    background-color: #26a269;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
}

.complete-tasks-indicator-almost {
    background-color: #e5a50a;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
}

.complete-tasks-indicator-incomplete {
    background-color: #a51d2d;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
}

.due-date {
    background-color: #5e5c64;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 2px #000000;
}

.past-due-date {
    background-color: #a51d2d;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 2px #000000;
}

.due-date-complete {
    background-color: #26a269;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 2px #000000;
}
